/*
	COMP303-001 Assignment 2
	Due Date: Nov 02, 2020
	Submitted: ??? ## 2020
	301 041 132 : Trent Minia
	300 549 638 : Matthew Naruse
*/

body {
	/*Background Related*/
	background-image: url("luis-villasmil-4V8uMZx8FYA-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;	
	
}

.form-signin{
	width: 100%;
	max-width: 400px;
	padding: 15px;
	margin: 0 auto;
}

.card{
	margin-top:10px;
}

.btn{
	margin:10px;
}

.input-group{
	text-align:center;
	width:200px;
}

#phoneCard{
	text-align:center;
}

#phoneCard > img{
	width:auto;
	max-height:200px;
}

.profile-main{
	padding: 15px;
	margin: 20px 10px;
}

.profile-orders{
	text-align: center;
	padding: 15px;
	margin: 20px 10px;
}

#ccForm > tbody > tr > td > label{
	margin-right: 10px;
}

.input-group{
	width: 200px;
	margin: auto;
}