body {
	/*Background Related*/
	background-image: url("luis-villasmil-4V8uMZx8FYA-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;	
	
}